In [8]:
import pandas as pd
import requests

import pandas_datareader as web
import datetime as dt

In [12]:
url = 'https://web-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'

tickers = []
lst_dates = []
lst_last_updated=[]
lst_price=[]
lst_market_cap=[]

for start in range(1, 20000, 5000):

    params = {
        'start': start,
        'limit': 5000,
    }

    r = requests.get(url, params=params)
    data = r.json()
    
    for number, item in enumerate(data['data']):
        # print(f"{start+number:4} | {item['symbol']:5} | {item['date_added'][:10]}")
        # print(item.keys())
        tickers.append(item['symbol'])
        lst_dates.append(item['date_added'])
        lst_last_updated.append(item['last_updated'])
        lst_price.append(item['quote']['USD']['price'])
        lst_market_cap.append(item['quote']['USD']['market_cap'])

In [13]:
currencies_base = pd.DataFrame(
    {
        'ticker':tickers,
        'date_added':lst_dates,
        'last_updated':lst_last_updated,
        'price':lst_price,
        'market_cap':lst_market_cap,
    }
)

currencies_base.head()

  ticker                date_added
0    BTC  2013-04-28T00:00:00.000Z
1    ETH  2015-08-07T00:00:00.000Z
2   USDT  2015-02-25T00:00:00.000Z
3   USDC  2018-10-08T00:00:00.000Z
4    BNB  2017-07-25T00:00:00.000Z

In [14]:
currencies_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10105 entries, 0 to 10104
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ticker      10105 non-null  object
 1   date_added  10105 non-null  object
dtypes: object(2)
memory usage: 158.0+ KB

In [20]:
2 % 100

2

In [21]:
start = dt.datetime(2022,5,1)
end = dt.datetime.now()

lst_tables = []

for i, ticker in enumerate(tickers):
    if i % 100 == 0:
        print(ticker)
    try:
        aux = web.DataReader(f'{ticker}-USD', 'yahoo', start, end)
    except:
        pass
    aux['ticker'] = ticker
    lst_tables.append(aux)

BTC
OMG
LUNA
SUPER
CFG
COCOS
ALBT
TNC
GBYTE
BTNT
CARD
FCON
VEST
TOWER
CTI
FYD
CHX
OPEN
XMX
APL
DMT
BITG
KALA
PHX
KWS
XGS
BERN
WXC
ETHP
DOTDOWN
OVR
ALD
CWEB
REAL
GHD
POT
DFH
GAN
XRPBULL
NOVA
AETERNA
KOKO
ELS
BTL
ARC
UNIDX
777
MDM
WIT
CP
ZM
DGP
BRS
TAUR
FUFU
CPC
UANG
BCHBULL
SHIH
LIT
TAP
LEZ
SOUL
BCMC1
MU
CRYPT
AUR
MONO
DFM
ST
TEN
GBOX
POWER
$BAETH
PASSIVE
Whale
JT
BMBO
GG
RICE
TERRA
LUM
DOGEX
CTL
ZABU
MACH
BABYTIGER
GSHARE
EVR
ZCH
FXP
$KING
PIZZA
LOCC
WUSD
FFT
OMIC
MONKE
FROST
WORDL
FREEMOON
RIM

In [24]:
historical_data = pd.concat(lst_tables)
historical_data.head()

,High,Low,Open,Close,Volume,Adj Close,ticker
Date,,,,,,,
2022-05-01,38627.859375,37585.789062,37713.265625,38469.093750,2.700276e+10,38469.093750,BTC
2022-05-02,39074.972656,38156.562500,38472.187500,38529.328125,3.292264e+10,38529.328125,BTC
2022-05-03,38629.996094,37585.621094,38528.109375,37750.453125,2.732694e+10,37750.453125,BTC
2022-05-04,39902.949219,37732.058594,37748.011719,39698.371094,3.675440e+10,39698.371094,BTC
2022-05-05,39789.281250,35856.515625,39695.746094,36575.140625,4.310626e+10,36575.140625,BTC

In [30]:
historical_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 128328 entries, 2022-05-01 to 2022-05-13
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   High       128328 non-null  float64
 1   Low        128328 non-null  float64
 2   Open       128328 non-null  float64
 3   Close      128328 non-null  float64
 4   Volume     128328 non-null  float64
 5   Adj Close  128328 non-null  float64
 6   ticker     128328 non-null  object
dtypes: float64(6), object(1)
memory usage: 7.8+ MB

In [31]:
historical_data['ticker'].value_counts()

META             156
RICE             128
HERO             128
FIRE              91
BFC               78
                ...
RICKMORTYDOXX      1
FO                 1
HTA                1
DGVC               1
DUKE               1
Name: ticker, Length: 8146, dtype: int64

In [28]:
ls ..

README.md            notebooks/           setup.py
instrucciones.ipynb  requirements.txt     src/

In [29]:
historical_data.to_csv('../data/historical_data.csv')